* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

:root {
	--color-primary: #0dad8e;
	--color-success: #00bf8e;
	--color-warning: #f7c94b;
	--color-danger: #0dad8e;
	--color-danger-variant: rgba(247, 88, 66, 0.4);
	--color-white: #fff;
	--color-light: #f7f9fa;
	--color-black: #000;
	--color-bg: #1f2641;
	--color-bg1: #001859;
	--color-bg2: #424890;

	--container-width-lg: 80%;

	--transition: all 400ms ease;
}

body {
	font-family: "Poppins", sans-serif;
	line-height: 1.7;
	color: var(--color-black);
	background: var(--color-white);
}
.container {
	width: var(--container-width-lg);
	margin: 0 auto;
}
section {
	padding: 6rem 0;
}
section h2 {
	text-align: center;
	margin-bottom: 4rem;
}
h1,
h2,
h3,
h4,
h5 {
	line-height: 1.2;
}
h1 {
	font: size 2.4rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.6rem;
}
h4 {
	font-size: 1.3rem;
}
a {
	color: var(--color-white);
}
img {
	width: 100%; /*100% of its parents width */
	display: block;
	object-fit: cover;
}
.btn {
	display: inline-block;
	background: var(--color-white);
	color: var(--color-black);
	padding: 1rem 2rem;
	border: 1px solid transparent;
	font-weight: 600;
	transition: var(--transition);
	font-size: 1.1rem;
}
.btn:hover {
	background: transparent;
	color: var(--color-danger);
	border-color: var(--color-white);
}
.btn-primary {
	background: var(--color-danger);
	color: var(--color-light);
}

/* ------------------------NAVBAR-----------------------*/
nav {
	background: var(--color-);
	width: 100vw; /* width akan ngambil keseluruhan width layar, apapun devicenya*/
	height: 5rem;
	/* position: fixed;courses */
	top: 0;
	z-index: 11; /* navbar akan selalu jadi paling atas, nilai besar semakin keatas, nilai kecil semakin kebawah*/
}

.nav_container {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_menu {
	display: flex;
	align-items: center;
	/* text-align: center; */
	gap: 2rem;
}

.nav_menu a {
	font-size: 1.2rem;
	transition: var(--transition);
	color: #111;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	padding: 8px;
	border-radius: 5px;
	letter-spacing: 0.5px;
	transition: all 0.3s ease;
}
.nav_menu a:hover {
	text-shadow: 8px 8px 15px rgba(7, 60, 222, 0.9);
}
.b {
	color: green;
	background: #fff;
	border-radius: 5px;
}

/*----------------------- HERO BANNER------------------------ */
.firstpage {
	background-image: url(coding.jpg);
	background-size: 100%;
	background-position: top;
	height: 100vh;
	background-repeat: no-repeat;
}

.heading1 {
	margin-top: 200px;
	margin-left: 45px;
	padding-left: 5px;
	padding-bottom: 8px;
}

.heading2 {
	margin-bottom: 10px;
	margin-left: 45px;
	padding-left: 5px;
}

.wrap2 {
	display: flex;
	flex-direction: column;
	padding-left: 49px;
	padding-top: 45px;
}

.find {
	padding: 9px;
	margin-top: 30px;
	border-radius: 15px;
	width: 0px;
	background-color: black;
	color: white;
	text-decoration: none;
}

.find:hover {
	box-shadow: 8px 8px 20px grey;
	color: white;
	transition: all 0.4s ease-in-out;
}

.find2 {
	padding: 25px;
	margin-top: 10px;
	width: 250px;
	border: none;
	background-image: url(ss.png);
	background-position: left;
	background-size: 100%;
	border-radius: 15px;
}

.find2:hover {
	box-shadow: 8px 8px 20px grey;
	color: white;
	transition: all 0.4s ease-in-out;
}

.diferent {
	color: #cca689;
	font-weight: bolder;
}

.inline {
	display: inline-block;
}

/* ------------------Popular Courses--------------------*/

.courses {
	margin-bottom: 5rem;
}
.courses h1 {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 1rem;
}
input::-webkit-search-cancel-button {
	display: none;
}
.courses input {
	font-size: 1.6rem;
	width: 30%;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	border: 1px solid #4b4b4b;
}
.courses {
	margin-top: 5rem;
}
.course h4 a {
	color: #000;
}
.courses_container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 5rem;
	padding-left: 220px;
}
.course {
	background: var(--color-light);
	text-align: center;
	border: 1px solid transparent;
	transition: var(--transition);
	/* border-radius: 1rem; */
	/* filter: saturate(0); */
}
.course:hover {
	background: transparent;
	border-color: var(--color-success);
	box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
	z-index: 1;
	transform: scale(1.1);
	/* border-radius: 1rem; */
	/* filter: none; */
}
/* .course img {
  border-radius: 1rem;
  filter: saturate(0);
}
.course img:hover {
  filter: none;
} */
.course_info {
	padding: 3rem;
}
.course_info p {
	margin: 1.2rem 0 2rem;
	font-size: 1rem;
}
.search_wrapper {
	text-align: center;
	margin-bottom: 4rem;
}
/*
.containerall_courses {
  width: 100px;
  height: 40px;
  padding-left: 20px;
  background-color: black;
  color: white;
  text-decoration: none;
} */

/* footer */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
	line-height: 1.5;
	font-family: "Poppins", sans-serif;
}
* {
	margin-top: 0;
	padding: 0;
	box-sizing: border-box;
}
.containerr {
	max-width: 1170px;
	margin: auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
ul {
	list-style: none;
}
.footer {
	background-color: #24262b;
	padding: 70px 0;
}
.footer-col {
	width: 100%;
	padding: 0 15px;
	text-align: center;
}
.footer-col h4 {
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	text-align: center;
}
.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}
.footer-col ul li {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: inline;
	transition: all 0.3s ease;
}

/*responsive*/
@media (max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}
@media (max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}

/* INI CSS HERO BANNER */

.wrap {
	display: flex;
	font-size: 20px;
	padding: 15px;
	width: 100%;
	height: 35px;
	margin-bottom: 20px;
	background-color: #e7d4c5;
}

.navigation {
	display: flex;
	align-items: center;
}

.navigation > li {
	list-style-type: none;
	padding: 12px;
	margin-bottom: 9px;
}

.navigation > li > a {
	text-decoration: none;
	color: black;
	font-size: 13px;
}

.navigation > li > a:hover {
	color: white;
	transition: all 0.4s ease-in-out;
	text-shadow: 25px 25px 25px blue;
}

.button {
	padding: 6px;
	margin-left: 5px;
	margin-bottom: 9px;
	background-color: black;
	color: white;
}

.button:hover {
	box-shadow: 8px 8px 20px grey;
	color: white;
	transition: all 0.4s ease-in-out;
}

.find a {
	padding: 9px;
	margin-top: 30px;
	border-radius: 15px;
	background-color: black;
	color: white;
	text-decoration: none;
}

.find:hover {
	box-shadow: 8px 8px 20px grey;
	color: white;
	transition: all 0.4s ease-in-out;
}

.find2 {
	padding: 25px;
	margin-top: 20px;
	width: 250px;
	border: none;
	background-image: url(ss.png);
	background-position: left;
	background-size: 100%;
	border-radius: 15px;
}

.find2:hover {
	box-shadow: 8px 8px 20px grey;
	color: white;
	transition: all 0.4s ease-in-out;
}

.heading {
	margin: 0px;
	margin-left: 45px;
	margin-top: 15px;
}

.wrap2 {
	display: flex;
	flex-direction: column;
	padding-left: 49px;
	padding-top: 45px;
}

.different {
	color: #cca689;
	font-weight: bolder;
}

.inline {
	display: inline-block;
}

.firstpage {
	background-image: url(coding.jpg);
	background-size: 100%;
	background-position: top;
	height: 100vh;
	background-repeat: no-repeat;
}

.find {
	padding: 10px;
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 250px;
	border: none;
	background-position: left;
	background-size: 100%;
	border-radius: 15px;
	text-decoration: none;
	background-color: black;
	color: white;
	text-align: center;
}

/* efek saat di klik */
.find :active {
	transform: scale(0.95);
}

.find :focus {
	outline: none;
}

.find .ghost {
	background-color: transparent;
	border-color: black;
}
